stages:
  - Compliance
  - Build
  - Test

Lint commit messages:
  stage: Compliance
  image: node:latest
  script:
    - yarn global add @commitlint/cli
    - yarn add conventional-changelog-conventionalcommits
    - git fetch -q origin master
    - commitlint --verbose --config=ci/commitlint.config.js --from=origin/master
  cache:
    paths:
      - node_modules/

variables:
  IMAGE_BASE: ${CI_REGISTRY}/kwinft/ci-images/archlinux/base:latest


.common-build: &common-build
  stage: Build
  image: ${IMAGE_BASE}
  needs: []
  artifacts:
    paths:
      - ci-build
    expire_in: 1 week

Normal build:
  <<: *common-build
  script:
    - pacman -Sy extra-cmake-modules --noconfirm --needed
    - mkdir ci-build && cd ci-build
    - cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr ../
    - make -j$(nproc)
    - make install -j$(nproc)

Sanitizers build:
  <<: *common-build
  script:
    - pacman -Sy extra-cmake-modules clang --noconfirm --needed
    - mkdir ci-build && cd ci-build
    - cmake -DECM_ENABLE_SANITIZERS='address;leak;undefined'
      -DCMAKE_CXX_COMPILER=clang++ ../
    - make -j$(nproc)
    - make install -j$(nproc)


.common-test: &common-test
  stage: Test
  image: ${IMAGE_BASE}
  script:
    - cd ci-build
    - Xvfb :1 -ac -screen 0 1920x1080x24 > /dev/null 2>&1 &
    - export DISPLAY=:1
    - export WAYLAND_DEBUG=1
    - export QT_LOGGING_RULES="*=true"
    - ctest -N
    # Tests currently can only run in one thread, see issue #3.
    - dbus-run-session ctest --output-on-failure

Autotests:
  <<: *common-test
  needs: ['Normal build']
  dependencies: ['Normal build']

Sanitizers:
  <<: *common-test
  needs: ['Sanitizers build']
  dependencies: ['Sanitizers build']
