name: Weekly Project Rebuild
on:
  schedule:
    - cron: '0 4 * * 3'
jobs:
  build:
    if: github.repository == 'winft/wrapland'
    uses: ./.github/workflows/build.yml
    with:
      image: registry.gitlab.com/kwinft/ci-images/archlinux/kf-master

  package:
    uses: ./.github/workflows/package.yml
    needs: build
    with:
      image: registry.gitlab.com/kwinft/ci-images/archlinux/kf-master
      package-name: wrapland
